<app-layout>
<div>
    <div class="totalDefis">
      <h1> Total defiscalisable :</h1>
      <h1>14 650,67€</h1>
    </div>

<!-- Modele reprofuctible-->


<!-- <div *ngFor='let elem of dtpservice?.dataApp'>{{elem.name}} <br> {{elem.desc}}</div> -->


    <div *ngFor='let elem of dtpservice?.dataApp' class="input-group mb-3">
      <h4>{{elem.name}}</h4>
      <input type="text" id="inputList" class="form-control" placeholder="Montant en euros" aria-label="Username" aria-describedby="basic-addon1">
      <p>
          <button type="button" class="btn btn-outline-primary" (click)="isCollapsed[{{array}}]= !isCollapsed[{{array}}]"
                  [attr.aria-expanded]="!isCollapsed[{{array}}]" aria-controls="collapse{{idcollapse}}">
                  <i class="fas fa-info"></i>
          </button>
        </p>
        <div id="collapse{{idcollapse}}" [ngbCollapse]="!isCollapsed[{{array}}]"> 
          <div class="card">
            <div class="card-body">
                {{elem.desc}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-layout>











