
    <div class="jumbotron">
      <h1>Private Policy</h1>
      <p class="lead">L'application "XXXXX" est un assistant personnel dédié aux musicien – chorégraphique – lyrique – Choriste.
          L'application accompagne l'utilisateur dans l'organisation de sa fiscalité professionnelle, notamment en présentant une analyse détaillée de ses frais professionnels, déduits pour leur montant réel sur le fondement des dispositions
          du septième alinéa du 3° de l'article 83 du code général des impôts telles quelles ont été précisées par l'instruction du 30 Décembre 1998 (B.O.I. 5 F-1-99), notamment dans sa section 4 en ce qui concerne les professions artistiques.
          
          Propriété intellectuelle
          
          La structure générale et l'ensemble des éléments présentés sont propriété de l'éditeur. Toute représentation, reproduction, exploitation partielle ou totale des contenus et services proposés , par quelque procédé que ce soit, sans l'autorisation préalable et par écrit de l'éditeur est strictement interdite et serait susceptible de constituer une contrefaçon au sens des articles L 335-2 et suivants du code de la propriété intellectuelle.
          
          Responsabilité
          
          L'analyse, les calculs effectués et plus généralement toute l'information produite par XXXX sont fidèles aux derniers textes règlementaires en vigueur, toutefois l'éditeur ne peut être tenu responsable des informations présentées à titre indicatif.
          
          XXX n'est pas affilié au trésor public ni à impots.gouv.fr 
          
          Confidentialité
          
          Les transmissions éventuelles entre XXXX et le serveur d'XXXX utilisent le protocole SSL, tous les échanges sont cryptés.
          
          Les données pré-existantes à l'installation d'Intermittent sur l'appareil, y compris celles co-gérées par l'application comme les contacts, les calendriers et autres données, ne sont jamais transmises à un tiers.
          
          
          Les données spécifiques à l'application sont stockées sur l'appareil.
          Par défaut, ces données ne sont jamais transmises sauf si l'utilisateur décide de les sauvegarder ou de les envoyer au Support, elles sont alors envoyées sur le serveur d'XXX.
          
          
          
          Les données spécifiques à l'application sont stockées sur l'appareil et transmises au serveur pour assurer la sauvegarde et la synchronisation automatique.
          L'utilisateur contrôle la visibilité de ses informations vis à vis des autres utilisateurs, par défaut aucune information personnelle n'est visible, à l'exception du nom d'utilisateur choisi lors de la création du compte.
          
          Modification des Conditions d'utilisation
          
          L’éditeur se réserve la possibilité de modifier, à tout moment et sans préavis, les présentes conditions d’utilisation.
          
          Droit applicable
          
          L'application, les modalités et conditions de son utilisation sont régies par le droit français, quel que soit le lieu d’utilisation. En cas de contestation éventuelle, et après l’échec de toute tentative de recherche d’une solution amiable, les tribunaux français seront seuls compétents pour connaître de ce litige.
          
          Editeur
          
          XXXXXXXXXXXXXXXXXXXXXXXXXX
          
          </p>


      <button class="btn btn-lg btn-primary" href="">Refuser</button>
      <button class="btn btn-lg btn-primary" routerLink="Home">Accepter</button>
    </div>
  
